.scroll-fill-text {
  display: inline;
}

.scroll-fill-text > span {
  display: inline-block;
  will-change: opacity;
}

.scroll-fill-text > .scroll-fill-space {
  width: .28em;
  font-size: inherit;
}

.values > span > span,
.values > span > span > span {
  padding: 0;
  border: 0;
  border-radius: 0;
  color: inherit;
  font-size: inherit;
}
